body.page-template-closed {
	.site-content {
		.info {
			position: absolute;
			z-index: 100;
			width: 100vw;
			height: 100vh;
			display: flex;
			align-items: center;
			justify-content: center;

			.content {
				max-width: 720px;
				text-align: center;
				padding: 2rem;
			}

			.logo {
				max-width: 300px;
				margin: 0 auto;

				@include tablet-portrait {
					max-width: 400px;
				}

				img {
					width: 100%;
				}
			}

			.copy {
				padding-top: 4rem;

				strong {
					text-transform: uppercase;
					display: block;
					font-weight: bold;
					padding-bottom: 0.5rem;
				}

				br {
					display: none;
				}

				p {
					font-size: 1.25rem;
					line-height: 1.5em;

					@include tablet-portrait {
						font-size: 1.5rem;
					}
				}

				a {
					text-decoration: underline;
				}
			}
		}

		.photo {
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;

			img {
				width: 100vw;
				height: 100vh;
				object-fit: cover;
			}
		}
	}
}