/* Colors
----------------------------------*/
$white: #fff;
$black: #000;
$slate: #2D2A32;


/* Typography
----------------------------------*/
@import url("https://use.typekit.net/clt3euh.css");

$montserrat: 'Montserrat', sans-serif;
$libre: 'Libre Baskerville', serif;
$schoolbook: "schoolbook", serif;
$brandon: brandon-grotesque, sans-serif;