/*

    Theme Name: Cast Iron Studios
    Theme URI: https://castiron-studios.com/
    Author: Andrew Lovseth
    Author URI: http://www.andrewlovseth.com/
    Description: Version 1.0 of Cast Iron Studios Closure Page
    Version: 1.0

*/
/* HTML5 */
@import url("https://use.typekit.net/clt3euh.css");
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

/* HTML & BODY */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html, button, input, select, textarea {
  font-family: sans-serif; }

body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4; }

/* Links */
a {
  text-decoration: none; }

a:focus {
  outline: none; }

a:hover, a:active {
  outline: none; }

/* Typography */
abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 600; }

i, em {
  font-style: italic; }

blockquote {
  margin: 1em 40px; }

dfn {
  font-style: italic; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

ins {
  background: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background: #ff0;
  color: #000; }

p, pre {
  margin: 1em 0; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }

q:before, q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-weight: normal;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0; }

/* Lists */
dd {
  margin: 0 0 0 40px; }

ul, ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0; }

/* Embedded Content */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle; }

svg:not(:root) {
  overflow: hidden; }

/* Figure */
figure {
  margin: 0; }

/* Forms */
form {
  margin: 0; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

label {
  cursor: pointer; }

legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal; }

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button, input {
  line-height: normal; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible; }

button[disabled], input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px; }

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

/* Tables */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td {
  vertical-align: top; }

/* Absolute Positioning */
div, article, section, header, footer, nav, figure, li {
  position: relative; }

/* Border-Box */
* {
  box-sizing: border-box; }

/* Responsive Image */
img {
  display: block;
  max-width: 100%; }

/* Colors
----------------------------------*/
/* Typography
----------------------------------*/
/* Media Queries
----------------------------------*/
html, input, textarea {
  -webkit-font-smoothing: antialiased; }

body {
  text-rendering: optimizeLegibility; }

body, input, textarea, button {
  color: #fff;
  font: 400 100%/1 brandon-grotesque, sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 700; }

a {
  color: #fff;
  transition: all 0.2s ease-in-out; }

body.page-template-closed .site-content .info {
  position: absolute;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; }
  body.page-template-closed .site-content .info .content {
    max-width: 720px;
    text-align: center;
    padding: 2rem; }
  body.page-template-closed .site-content .info .logo {
    max-width: 300px;
    margin: 0 auto; }
    @media screen and (min-width: 768px) {
      body.page-template-closed .site-content .info .logo {
        max-width: 400px; } }
    body.page-template-closed .site-content .info .logo img {
      width: 100%; }
  body.page-template-closed .site-content .info .copy {
    padding-top: 4rem; }
    body.page-template-closed .site-content .info .copy strong {
      text-transform: uppercase;
      display: block;
      font-weight: bold;
      padding-bottom: 0.5rem; }
    body.page-template-closed .site-content .info .copy br {
      display: none; }
    body.page-template-closed .site-content .info .copy p {
      font-size: 1.25rem;
      line-height: 1.5em; }
      @media screen and (min-width: 768px) {
        body.page-template-closed .site-content .info .copy p {
          font-size: 1.5rem; } }
    body.page-template-closed .site-content .info .copy a {
      text-decoration: underline; }

body.page-template-closed .site-content .photo {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }
  body.page-template-closed .site-content .photo img {
    width: 100vw;
    height: 100vh;
    -o-object-fit: cover;
       object-fit: cover; }
